/* AUTH -----------------------------------------------------------*/

QDialog#auth-window {
    background-color: #fff;
}


QLabel#title {
    margin-top: 40px;
    font-size: 70px;
    font-weight: 700;
    color: rgba(42, 80, 143, 0.9);
}



QFrame#login {
    max-width: 500px;
    min-width: 500px;
    background-color: rgb(48, 126, 243);
    border-radius: 30px;
    padding: 30px;
    margin-top: 80px;
    font-size: 18px;
    margin-bottom: 100px;
}

QFrame#login * {
    color: #fff;
}


QFrame#login > QLineEdit {
    width: 300px;
    margin-left: 30px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
}

QFrame#login > QLabel {
    font-size: 20px;
    font-weight: 350;
}


QFrame#login > QLabel#login-label {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
}

QFrame#login QPushButton#register-btn {
    margin: 20px 0;
    color: #ddd;
    font-size: 20px;
    border-radius: 10px;
}

QFrame#login QPushButton#register-btn:hover {
    color: #fff;
}

QFrame#login QPushButton#login-btn {
    width: 250px;
    padding: 15px;
    border-width: 2px;
    border-style: outset;
    border-radius: 10px;
    background-color: #fff;
    color: rgb(48, 126, 243);
    font-size: 30px;
    font-weight: 500;
}

QFrame#login QPushButton#login-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

QLabel#auth-msg {
    color: #000;
    background-color: rgba(255, 21, 21, 0.9);
    padding: 5px;
    border-radius: 5px;
}


/* MAIN -----------------------------------------------------------*/

QFrame#menu {
    background-color: rgb(48, 126, 243);
    margin: 0;
    margin-bottom: 100px;
    border-radius: 5px;
}

QFrame#menu > *{
    font-size: 24px;
    color: #fff;
}

QFrame#menu > QLabel {
    font-weight: 600;
}

QFrame#menu > QPushButton {
    border: 0;
    padding: 30px;
    border-left: 2px solid rgba(0, 0, 0, 0.7);
}


QFrame#menu > QPushButton:hover {
    background-color: rgb(79, 145, 245);
}


QFrame#menu > QFrame#menu-title {
    padding: 0;
    margin: 0;
}

QFrame#menu > QFrame#menu-title *{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}


QFrame#search {
    min-width: 500px;
    max-width: 500px;
    color: #000;
    margin-top: 20px;
}

QFrame#search QLineEdit {
    margin-left: 30px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
}


QFrame#room-list {
    max-width: 700px;
    min-width: 700px;
    min-height: 500px;
    background-color: rgb(79, 145, 245);
    border-radius: 30px;
    padding: 30px;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 100px;
}

QFrame#room {
    max-width: 600px;
    min-width: 600px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    margin: 20px;
}


QFrame#room QLabel#owner,
QFrame#room *#guest {
    min-width: 150px;
    max-width: 150px;
    font-size: 25px;
}

QFrame#room QPushButton#guest {
    border-radius: 10px;
    background-color: #fff;
    color: rgba(48, 126, 243, 1);
    font-weight: 600;
}

QFrame#room QPushButton#guest:hover {
    color: rgba(48, 126, 243, 0.8);
}


QFrame#room QLabel#vs {
    max-width: 120px;
    font-size: 56px;
    font-weight: 700;
    color: rgba(42, 80, 143, 0.9);
    text-align: center;
    border: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.7);
    border-right: 2px solid rgba(0, 0, 0, 0.7);
}

QPushButton#nav-btn {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 0;
}

QPushButton#nav-btn:hover{
    color: rgba(255, 255, 255, 0.8);
}

QLabel#no-rooms {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

/* GAME -----------------------------------------------------------*/

QFrame#board {
    max-width: 800px;
    min-width: 800px;
    min-height: 800px;
    max-height: 800px;
}

QFrame#game-info {
    border: 0;
    border-left: 5px solid #000;
}

QFrame#gtitle > * {
    color: rgba(42, 80, 143, 0.9);
    font-size: 56px;
    font-weight: 700;
}

QFrame#gtitle {
    margin-bottom: 50px;
    border: 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.9);
}


QFrame#status {
    background-color: rgba(48, 126, 243, 0.85);
    color: #000;
    min-width: 280px;
    max-width: 280px;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 15px;
}

QFrame#stats {
    background-color: rgba(48, 126, 243, 0.85);
    min-width: 280px;
    max-width: 280px;
    padding: 10px;
    border-radius: 20px;
}

QFrame#stats > * {
    border: 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.9);
}


QFrame#stats > * > * {
    color: #000;
    font-size: 16px;
}

QLabel#stat-key {
    min-width: 150px;
}

QPushButton#dc-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border: 0;
    background-color: rgba(48, 126, 243, 0.85);
    border-radius: 10px;
}

QPushButton#dc-btn:hover {
    background-color: rgba(48, 126, 243, 0.7);
}